<nav class="bg-gray-50 w-64 h-screen p-4 border-r border-gray-200 fixed pt-24 top-0 left-0 z-10">
    <ul class="space-y-4">

        <!-- Salle management -->
        <li class="flex flex-col items-start space-x-2">
            <div class="flex justify-between">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-600" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
                <a href="#" class="block text-gray-700 font-medium hover:text-blue-500">Gestion des salles</a>

            </div>
            <ul class="pl-4 space-y-2">
                <li><a [routerLink]="['/salles']" class="text-gray-500 hover:text-blue-400">Liste de salles</a></li>
                <li><a href="#" class="text-gray-500 hover:text-blue-400">Disponibilité des salles</a></li>
            </ul>
        </li>

        <!-- Classe management -->
        <li class="flex flex-col items-start space-x-2">
            <div class="flex justify-between">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-600" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 8v4m0 0v4m0-4h4m-4 0h-4"></path>
                </svg>
                <a href="#" class="block text-gray-700 font-medium hover:text-blue-500">Gestion de classe</a>

            </div>
            <ul class="pl-4 space-y-2">
                <li><a href="#" class="text-gray-500 hover:text-blue-400">Liste des classes</a></li>
            </ul>
        </li>

        <!-- Session management -->
        <li class="flex flex-col items-start space-x-2">
            <div class="flex justify-between">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-600" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 8v4m0 0v4m0-4h4m-4 0h-4"></path>
                </svg>
                <a href="#" class="block text-gray-700 font-medium hover:text-blue-500">Gestion de session</a>

            </div>
            <ul class="pl-4 space-y-2">
                <li><a href="#" class="text-gray-500 hover:text-blue-400">Gérer la session</a></li>
                <li><a href="#" class="text-gray-500 hover:text-blue-400">Gérer les surveillances</a></li>
            </ul>
        </li>

        <!-- Enseignant management -->
        <li class="flex flex-col items-start space-x-2">
            <div class="flex justify-between">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-600" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 8v4m0 0v4m0-4h4m-4 0h-4"></path>
                </svg>
                <a href="#" class="block text-gray-700 font-medium hover:text-blue-500">Gestion d'enseignant</a>

            </div>
          <ul class="pl-4 space-y-2">
            <li><a [routerLink]="['/enseignants']" class="text-gray-500 hover:text-blue-400">Liste des enseignants</a></li>
            <li><a [routerLink]="['/profil-enseignant']" class="text-gray-500 hover:text-blue-400">Profil Enseignant</a></li>
          </ul>

        </li>

        <!-- Etudiant management -->
        <li class="flex flex-col items-start space-x-2">
            <div class="flex justify-between">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-600" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 8v4m0 0v4m0-4h4m-4 0h-4"></path>
                </svg>
                <a href="#" class="block text-gray-700 font-medium hover:text-blue-500">Gestion des étudiants</a>

            </div>
            <ul class="pl-4 space-y-2">
                <li><a href="#" class="text-gray-500 hover:text-blue-400">Liste des étudiants</a></li>
                <li><a href="#" class="text-gray-500 hover:text-blue-400">Profil Etudiant</a></li>
            </ul>
        </li>

        <!-- User management -->
        <li class="flex flex-col items-start space-x-2">
            <div class="flex justify-between">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-600" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 8v4m0 0v4m0-4h4m-4 0h-4"></path>
                </svg>
                <a href="#" class="block text-gray-700 font-medium hover:text-blue-500">Gestion des Utilisateurs</a>

            </div>
            <ul class="pl-4 space-y-2">
                <li><a href="#" class="text-gray-500 hover:text-blue-400">Gérer les utilisateurs</a></li>
            </ul>
        </li>
    </ul>
</nav>
