<!-- crud-users.component.html -->
<div class="container mx-auto px-4 py-8">
  <div class="w-full flex justify-between">
    <h2 class="text-2xl font-bold mb-6">Liste des Enseignants</h2>
  </div>

  <div class="flex justify-end">
    <button (click)="addEnseignant()" class="flex items-center gap-2 px-4 py-2 text-sm bg-[#0EA5E9] text-white rounded-lg shadow-md hover:bg-[#0d94c6] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#0EA5E9]">
      Ajouter Enseignant
    </button>
  </div>




  <app-enseignant-modal *ngIf="showModal" (closeModal)="closeModal()"></app-enseignant-modal>
  <div class="mb-4 mt-6">
    <input type="text" (input)="onSearch($event)" placeholder="Rechercher..."
           class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
  </div>

  <div class="overflow-x-auto">
    <table class="min-w-full bg-white">
      <thead>
      <tr>
        <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider cursor-pointer"
            (click)="onSort('id')">
          N°
        </th>
        <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider cursor-pointer"
            (click)="onSort('nom')">
          Nom
        </th>
        <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider cursor-pointer"
            (click)="onSort('prenom')">
          Prénom
        </th>
        <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider cursor-pointer"
            (click)="onSort('cin')">
          CIN
        </th>
        <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider cursor-pointer"
            (click)="onSort('email')">
          Email
        </th>
        <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider cursor-pointer"
            (click)="onSort('grade')">
          Grade
        </th>
        <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider cursor-pointer"
            (click)="onSort('departement')">
          Departement
        </th>
        <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider cursor-pointer"
            (click)="onSort('etablissement')">
          Etablissement
        </th>
        <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
          Actions
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of paginatedUsers; let i = index">
        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
          {{ (currentPage - 1) * pageSize + i + 1 }}
        </td>
        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
          {{ user.nom }}
        </td>
        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
          {{ user.prenom }}
        </td>
        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
          {{ user.cin }}
        </td>
        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
          {{ user.email }}
        </td>
        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
          {{ user.grade }}
        </td>
        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
          {{ user.departement.nom }}
        </td>
        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
          {{ user.departement.etablissement }}
        </td>

        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300 text-lg leading-5 font-medium">
          <button (click)="viewEnseignant(user)" class="text-[#0EA5E9] hover:text-indigo-900 mr-2">
            <i class="fas fa-eye"></i>
          </button>
          <button (click)="editEnseignant(user)" class="text-green-600 hover:text-indigo-900 mr-2">
            <i class="fas fa-edit"></i>
          </button>
          <button (click)="deleteEnseignant(user)" class="text-red-600 hover:text-red-900">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Custom Pagination -->
  <div class="mt-4 flex justify-end w-full">
    <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
      <button
        class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"
        [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">
        Précédent
      </button>

      <button *ngFor="let page of pages" (click)="onPageChange(page)" [class.bg-blue-50]="currentPage === page"
              [class.text-blue-600]="currentPage === page"
              class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
        {{ page }}
      </button>

      <button
        class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"
        [disabled]="currentPage === pages.length" (click)="onPageChange(currentPage + 1)">
        Suivant
      </button>
    </nav>
  </div>
</div>
