<!-- crud-users.component.html -->
<div class="container mx-auto px-4 py-8">
    <div class="w-full flex justify-between">
        <h2 class="text-2xl font-bold mb-6">Liste des Utilisateurs</h2>
    </div>
    <div class="flex  justify-end space-x-1">
        <button (click)="addSuperAdmin()"
                class="flex items-center gap-2 px-3 py-3 text-xs bg-[#0EA5E9] text-white rounded-lg shadow-md hover:bg-[#0d94c6] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#0EA5E9]">
            Ajouter Super Admin
        </button>

      <button (click)="addAdminEtablissement()"
              class="flex items-center gap-2 px-3 py-3 text-xs bg-[#0EA5E9] text-white rounded-lg shadow-md hover:bg-[#0d94c6] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#0EA5E9]"  >
         Ajouter Admin Etablissement
      </button>
        <button (click)="addAdminDepartement()"
                class="flex items-center gap-2 px-3 py-3 text-xs bg-[#0EA5E9] text-white rounded-lg shadow-md hover:bg-[#0d94c6] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#0EA5E9]"  >
            Ajouter Admin Departement
        </button>

    </div>
    <app-add-user-modal *ngIf="showModal" (closeModal)="closeModal()"></app-add-user-modal>
    <div class="mb-4 mt-6">
        <input type="text" (input)="onSearch($event)" placeholder="Rechercher..."
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>

    <div class="overflow-x-auto">
        <table class="min-w-full bg-white">
          <thead>
          <tr>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider cursor-pointer"
                (click)="onSort('id')">
              N°
            </th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider cursor-pointer"
                (click)="onSort('fullname')">
              Nom & Prénom
            </th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider cursor-pointer"
                (click)="onSort('email')">
              Email
            </th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider cursor-pointer"
                (click)="onSort('role')">
              Role
            </th>
            <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
              Actions
            </th>
          </tr>
          </thead>
            <tbody>
                <tr *ngFor="let user of paginatedUsers; let i = index">
                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
                        {{ (currentPage - 1) * pageSize + i + 1 }}
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
                        {{ user.fullName }}
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
                        {{ user.email }}
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300">
                        {{ user.role.name }}
                    </td>
                    <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-300 text-lg leading-5 font-medium">
                        <button (click)="viewUser(user)" class="text-[#0EA5E9] hover:text-indigo-900 mr-2">
                            <i class="fas fa-eye"></i>
                        </button>
                        <button (click)="editUser(user)" class="text-green-600 hover:text-indigo-900 mr-2">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button (click)="deleteUser(user)" class="text-red-600 hover:text-red-900">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Custom Pagination -->
    <div class="mt-4 flex justify-end w-full">
        <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
            <button
                class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"
                [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)">
              Précédent
            </button>

            <button *ngFor="let page of pages" (click)="onPageChange(page)" [class.bg-blue-50]="currentPage === page"
                [class.text-blue-600]="currentPage === page"
                class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
                {{ page }}
            </button>

            <button
                class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50"
                [disabled]="currentPage === pages.length" (click)="onPageChange(currentPage + 1)">
                Suivant
            </button>
        </nav>
    </div>
</div>
